<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>ToDo List</title>
    
</head>
<body>
    <div class="container mt-5">
        <h1 class="title"><strong>ToDo List</strong></h1>
    </div>

    <!-- Bootstrap-->

    <div class="d-flex flex-column flex-md-row p-1 pt-3 gap-4 py-md-1 mt-3 align-items-center justify-content-center">
        
        <div class="list-group list-group-radio d-grid gap-1 border-0 align-items-center">

          <div class="position-relative">

            <ul id="tasks">
                <%if (locals.notes){ %> <!--zum checken ob das notes Array existiert! Wichtig sonst error -->
                
                    <% for (var i = 0; i<notes.length; i++){ %>
                
                            <label class="list-group-item py-1 pe-5" id="L<%=i%>"><input type="checkbox" onClick=clicked(<%=i%>)> <%=locals.notes[i] %> </label>
                            <br>
                
                    <% } %>
                    <% } else { %>
                
                    <% } %>
                </ul>
            </div>
         
        </div>
    </div>

    <!--Boostrap Ende-->
<div class="d-flex flex-column flex-md-row p-1 gap-4 py-md-1 align-items-center justify-content-center">
    <form action="/" method="post">
    <input type="text" id="add" name="note" placeholder="Write down your notes">

    <input type="submit" id="btnAdd" value="Add">
    </form>
</div>

<script>
    function clicked(index){
        var label = document.getElementById("L"+index);
        console.log(label);
        label.classList.toggle("done");
        
    }
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>