<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">

    <title>ToDo List</title>
    
</head>
<body>
    <h1>This is a ToDo App</h1>

<form action="/" method="post">
<input type="text" id="add" name="note" placeholder="Write down your notes">

<input type="submit" id="btnAdd" value="Add">
</form>





<ul id="tasks">
<%if (locals.notes){ %> <!--zum checken ob das notes Array existiert! Wichtig sonst error -->

    <% for (var i = 0; i<notes.length; i++){ %>

            <label id="L<%=i%>"  ><input type="checkbox" onClick=clicked(<%=i%>)> <%=locals.notes[i] %> </label>
            <br>

    <% } %>
    <% } else { %>

    <% } %>
</ul>

<!--EInfügen des JS Files Wichtig am ende einfügen !! -->
<!-- <script src="index.js" charset="utf-8"></script> -->

<script>
    function clicked(index){
        var label = document.getElementById("L"+index);
        console.log(label)
        label.classList.toggle("done");
    }
    </script>


</body>
</html>